<!DOCTYPE html>
<html lang="sv">
<head>
    <title>How many hours have you lost to social media?</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include partials/meta.ejs %>
    <%- include partials/css.ejs %>
</head>
<body>
<%- include partials/landingpage_leadcopy.ejs %>
<%- include partials/landingpage_connect.ejs %>
<%- include partials/scripts.ejs %>
</body>
</html>