<!DOCTYPE html>
<html lang="en">
<head>
    <title>How many hours have you lost to social media?</title>
    <%- include partials/meta.ejs %>
    <%- include partials/css.ejs %>
</head>
<body>
<%- include partials/landingpage_leadcopy.ejs %>
<%- include partials/landingpage_connect.ejs %>
<%- include partials/scripts.ejs %>
</body>
</html>